Adafruit-Blinka==5.9.1
adafruit-circuitpython-busdevice==5.0.1
adafruit-circuitpython-dht==3.5.2
adafruit-circuitpython-tcs34725==3.3.3
Adafruit-PlatformDetect==2.23.0
Adafruit-PureIO==1.1.8
bidict==0.21.2
click==7.1.2
Flask==1.1.2
Flask-SocketIO==5.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyftdi==0.52.0
pyserial==3.5
python-engineio==4.0.0
python-socketio==5.0.3
pyusb==1.1.0
RPi.GPIO==0.7.0
uWSGI==2.0.19.1
Werkzeug==1.0.1
